@media (min-width: 320px)
  \:root
    --tasks-bg-image: url("./bg-mobile-dark.jpg")
    --nav-width: 100%
  .tasks
    &-container
      max-width: 280px
      padding: 0
      &__bg
        height: 200px

  .login
    &-wrapper
      max-width: 280px
      box-shadow: none

  .reg
    &-wrapper
      max-width: 280px
      box-shadow: none

@media (min-width: 640px)
  \:root
    --nav-width: 80%

  .login
    &-wrapper
      max-width: 580px
      box-shadow: var(--box-shadow)

  .reg
    &-wrapper
      max-width: 580px
      box-shadow: var(--box-shadow)
      margin: 0 auto
      gap: 10px
